
<div class="flex  flex-col item-center text-white bg-TwitterBlue p-4 justify-between md:flex-row md:justify-around md:item-center" *ngIf="users$| async as users">

    <h1>Twitter Clone</h1>
    <div class=" flex  flex-col space-x-2  md:flex-row md:item-center" >
    <p class="py-2"> Show User Post </p>
      <select class="text-black" (change)="changeUser($event)" >
        <option *ngFor="let user of users " value="{{user.id}}"  > {{user.name}}</option>
        
      </select>
    </div>
  </div>